@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

.header {
  background-color: #08081f;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 5vh;
  margin-right: 32px;
  margin-left: 12px;
  background: linear-gradient(
    to left,
    rgba(52, 49, 200, 1) 0%,
    rgba(39, 37, 146, 1) 25%,
    rgba(30, 28, 111, 1) 50%,
    rgba(17, 17, 74, 1) 75%,
    rgba(8, 8, 31, 1) 100%
  );
  border: 1px solid #fff;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
}

.contact-button:hover {
  color: #08081f;
  background: #fff;
  cursor: pointer;
}

.image-boostly {
  height: 54%;
  margin-left: 32px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 64%;
  margin-right: 0px;
  overflow: hidden;
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 12px;
  transition: all 0.2s ease;
}

.menu-item:hover {
  font-weight: 800;
  font-size: large;
  cursor: pointer;
}

.menu-sec-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-vertical {
  border-left: 2px solid #ffffff;
  height: 24px;
}
