.header {
  background-color: #08081f;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.contact-button {
  position: relative;
  width: 100px;
  height: 64%;
  margin-right: 32px;
  background: linear-gradient(
    to left,
    rgba(52, 49, 200, 1) 0%,
    rgba(39, 37, 146, 1) 25%,
    rgba(30, 28, 111, 1) 50%,
    rgba(17, 17, 74, 1) 75%,
    rgba(8, 8, 31, 1) 100%
  );
  border: 1px solid #fff;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.contact-button:hover {
  color: #08081f;
  background: #fff;
}
