<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
  <div formGroupName="userName" class="name-form">
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      placeholder="Krstné meno"
      class="name"
    />
    <input
      id="lastName"
      type="text"
      formControlName="lastName"
      placeholder="Priezvisko"
      class="name"
    />
  </div>

  <input
    id="userEmail"
    type="text"
    formControlName="userEmail"
    placeholder="Vaša emailová adresa"
    [class.email-wrong]="
      contactForm.get('userEmail')?.touched &&
      contactForm.get('userEmail')?.invalid
    "
    class="email"
  />

  <input
    id="userPhone"
    type="text"
    formControlName="userPhone"
    placeholder="Vaše telefónne číslo"
    class="phone"
  />
  <input
    id="messageContent"
    type="text"
    formControlName="messageContent"
    placeholder="Správa"
    class="message"
  />

  <!-- 

  This is other way how I can do Forms, but FormBuilder is better for bigger groups :)
  
  <label for="userText">Enter text</label>
  <input
    id="userText"
    type="text"
    formControlName="userText"
  /> -->
  <button type="submit">Submit</button>
</form>
